  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
      </tr>
    </thead>
    <tbody ng-repeat="user in userList">
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.sname }}</td>
      </tr>
    </tbody>
  </table>