<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body ng-app="adminApp">

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Админка</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" ui-sref="manual">Справочник</a>
    <a class="nav-item nav-link" ui-sref="users">Пользователи</a>
  </div>
</nav>

<div ui-view></div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">2018</span>
  </div>
</footer>
</body>
</html>