<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Добро пожаловать на страницу логина</h1>
  <div id="submit-form"></div>
</body>
</html>